.formContainer {
    /* min-width: 300px; */
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.formContainer form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.formContainer input {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 220px;
    height: 40px;
    background-color: var(--gray-200);
    color: var(--gray-500);
    padding-left: 0.75rem;  
}

.formContainer input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 1.35rem;
    margin-right: 0.5rem;
}  

.formContainer input::placeholder {
    color: var(--gray-500);
    font-weight: 500;
}

.formContainer input:focus {
    color: var(--gray-500);
    /* font-size: 1rem; */
}



.formContainer button {
    /* margin-left: 1rem; */
    font-size: 0.95rem;
    font-family: 'Lato', sans-serif;
    border: none;
    border-radius: 5px;
    background-color: var(--green-600);
    width: 70px;
    height: 40px;
    color: var(--neutral-100);
    font-weight: 400;
}

.formContainer button:hover {
    background-color: #22c55e;
    border:2px solid var(--green-600);
}


/* Table CSS */

.tableContainer {
    margin-top: 2rem;
    z-index: 2;
    width: 100%;
}

.timestamp--wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 0.5rem;
}


.sortIcon {
    font-size: 1.25rem;
}

.sortIcon:hover {
    color: var(--purple-300);
}

.orderContentTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    width: 100%;
    padding: 0 30px;
}

.orderContentTable thead tr {
    background-color: var(--purple-900);
    border: 1px solid var(--purple-900);
    color: var(--neutral-50);
    font-weight: 700;
    /* text-align: left; */
}

.orderContentTable th, 
.orderContentTable td {
    padding: 10px 15px;
} 

.orderContentTable tbody td {
    text-align: center;
    color: var(--gray-800);
}

.orderContentTable tbody tr {
    border-bottom: 1px solid var(--gray-300);
    border-left: 1px solid var(--gray-300);
    border-right: 1px solid var(--gray-300);
}


.orderContentTable tbody tr:hover {
    cursor: pointer;
    background-color: var(--purple-100);
}

/* Dataflow CSS */

.dataflowContainer {
    width: 100%;
}

.dataflowBox {
    border: 1px solid var(--gray-300);
    border-radius: 5px;
}

/* "wareHouseToRapi": "{\"oms\":\"\<Order CustomerEMailID\=\\\"qe101683543713015@d.com\\\"\\n    DepartmentCode\=\\\"Disney_DE\\\" DocumentType\=\\\"0001\\\"\\n    EnterpriseCode\=\\\"DisneyEMEA\\\" EntryType\=\\\"WEB\\\"\\n    EventNameAction\=\\\"orderStatusUpdateRelease\\\" MaxOrderStatus\=\\\"3200\\\"\\n    OrderDate\=\\\"2023-05-08T11:03:56+00:00\\\"\\n    OrderHeaderKey\=\\\"202306271653214526116824\\\" OrderNo\=\\\"DECEVATS0999\\\"\\n    OrderType\=\\\"GE\\\" PaymentStatus\=\\\"PAID\\\"\\n    SellerOrganizationCode\=\\\"DisneyDE\\\" SourcingClassification\=\\\"Disney_DE\\\" Status\=\\\"Released\\\"\>\\n    \<Extn OrderReference\=\\\"GE10107454127NL\\\" ReboundOrderNo\=\\\"\\\"/\>\\n    \<PriceInfo Currency\=\\\"EUR\\\"/\>\\n    \<References/\>\\n    \<OrderHoldTypes\>\\n        \<OrderHoldType HoldType\=\\\"Remorse_Hold\\\" Status\=\\\"1300\\\" StatusDescription\=\\\"Resolved\\\"/\>\\n    \</OrderHoldTypes\>\\n    \<OrderLines\>\\n        \<OrderLine CarrierServiceCode\=\\\"STANDARD_EMEA\\\"\\n            DeliveryMethod\=\\\"SHP\\\" FulfillmentType\=\\\"HD\\\" GiftFlag\=\\\"N\\\"\\n            GiftWrap\=\\\"N\\\" KitCode\=\\\"\\\" LineType\=\\\"HD\\\"\\n            OrderHeaderKey\=\\\"202306271653214526116824\\\"\\n            OrderLineKey\=\\\"202306271653214526116826\\\" OrderedQty\=\\\"1\\\"\\n            PrimeLineNo\=\\\"1\\\" ReturnReason\=\\\"\\\" SubLineNo\=\\\"1\\\"\>\\n            \<Extn CartItemId\=\\\"1\\\" ParentCartItemId\=\\\"\\\"/\>\\n            \<Item\\n                ItemDesc\=\\\"Hasbro - Spider-Man: Far From Home - Spider-Man Actionfigur mit Accessoire, 15 cm\\\"\\n                ItemID\=\\\"461010600022\\\" ManufacturerItem\=\\\"\\\"\\n                ProductClass\=\\\"GOOD\\\" UnitCost\=\\\"0.00\\\" UnitOfMeasure\=\\\"EACH\\\"/\>\\n            \<LinePriceInfo ListPrice\=\\\"10.92\\\" RetailPrice\=\\\"10.92\\\" UnitPrice\=\\\"10.92\\\"/\>\\n            \<OrderDates\>\\n                \<OrderDate DateTypeId\=\\\"Disney_Promise_Date\\\"\\n                    ExpectedDate\=\\\"2023-05-09T18:03:57+00:00\\\" OrderLineKey\=\\\"202306271653214526116826\\\"/\>\\n                \<OrderDate DateTypeId\=\\\"SBA_ORDER_SCHEDULED\\\"\\n                    ExpectedDate\=\\\"2023-06-27T16:54:13+00:00\\\" OrderLineKey\=\\\"202306271653214526116826\\\"/\>\\n                \<OrderDate DateTypeId\=\\\"SBA_ORDER_RELEASED\\\"\\n                    ExpectedDate\=\\\"2023-06-27T17:09:44+00:00\\\" OrderLineKey\=\\\"202306271653214526116826\\\"/\>\\n            \</OrderDates\>\\n            \<OrderLineReservations/\>\\n            \<Instructions NumberOfInstructions\=\\\"0\\\"/\>\\n            \<Notes NumberOfNotes\=\\\"2\\\"\>\\n                \<Note\\n                    NoteText\=\\\"[{\"price\":12.99,\"units\":1,\"priceAdjustments\":[]}]\\\" ReasonCode\=\\\"proratedPrices\\\"/\>\\n                \<Note\\n                    NoteText\=\\\"[{\"price\":13,\"units\":1,\"priceAdjustments\":[]}]\\\" ReasonCode\=\\\"geProratedPrices\\\"/\>\\n            \</Notes\>\\n            \<CustomAttributes GuestLineTotalLocalGross\=\\\"13.00\\\"\\n                ListPriceLocalGross\=\\\"13.00\\\"\\n                OriginalUnitPriceLocalGross\=\\\"13.00\\\"\\n                RetailPriceBaseGross\=\\\"12.99\\\"\\n                RetailPriceDiscountValueBaseGross\=\\\"0.00\\\"\\n                RetailPriceLocalGross\=\\\"13.00\\\" UnitPriceLocalGross\=\\\"13.00\\\"/\>\\n            \<ItemDetails ItemID\=\\\"461010600022\\\"\\n                OrganizationCode\=\\\"DisneyEMEA\\\" UnitOfMeasure\=\\\"EACH\\\"\>\\n                \<PrimaryInformation IsReturnable\=\\\"N\\\" KitCode\=\\\"\\\"\\n                    ManufacturerItem\=\\\"\\\" ManufacturerName\=\\\"\\\"/\>\\n            \</ItemDetails\>\\n            \<LineCharges\>\\n                \<LineCharge ChargeAmount\=\\\"2.07\\\"\\n                    ChargeCategory\=\\\"GLOBALE_LINE\\\"\\n                    ChargeName\=\\\"DUTIES_TAXES_FEES\\\"\\n                    ChargeNameKey\=\\\"2022031609514018157085\\\"\\n                    ChargePerLine\=\\\"0.00\\\" ChargePerUnit\=\\\"2.07\\\"\\n                    InvoicedChargeAmount\=\\\"0.00\\\"\\n                    InvoicedChargePerLine\=\\\"0.00\\\"\\n                    InvoicedChargePerUnit\=\\\"0.00\\\" IsBillable\=\\\"Y\\\"\\n                    IsDiscount\=\\\"N\\\" Reference\=\\\"\\\"\\n                    RemainingChargeAmount\=\\\"2.07\\\"\\n                    RemainingChargePerLine\=\\\"0.00\\\" RemainingChargePerUnit\=\\\"2.07\\\"\>\\n                    \<Extn LocalChargePerUnit\=\\\"2.08\\\"/\>\\n                \</LineCharge\>\\n            \</LineCharges\>\\n            \<LineTaxes/\>\\n            \<OrderStatuses\>\\n                \<OrderStatus OrderHeaderKey\=\\\"202306271653214526116824\\\"\\n                    OrderLineKey\=\\\"202306271653214526116826\\\"\\n                    ShipNode\=\\\"CEVA_EU\\\" Status\=\\\"3200\\\"\\n                    StatusDate\=\\\"2023-06-27T17:09:44+00:00\\\"\\n                    StatusDescription\=\\\"Released\\\" StatusQty\=\\\"1\\\" TotalQuantity\=\\\"1\\\"/\>\\n            \</OrderStatuses\>\\n        \</OrderLine\>\\n    \</OrderLines\>\\n    \<CustomAttributes GuestCurrencyLocal\=\\\"EUR\\\"\\n        GuestTotalAmountLocal\=\\\"16.90\\\" OrderSubsidyLocal\=\\\"0.00\\\"/\>\\n    \<ProductServiceAssocs/\>\\n    \<OrderLineRelationships/\>\\n    \<Notes NumberOfNotes\=\\\"0\\\"/\>\\n    \<PersonInfoShipTo AddressLine1\=\\\"Pariser Platz 4A\\\" AddressLine2\=\\\"\\\"\\n        AddressLine3\=\\\"\\\" AddressLine4\=\\\"\\\" AddressLine5\=\\\"\\\" AddressLine6\=\\\"\\\"\\n        City\=\\\"Berlin\\\" Company\=\\\"\\\" Country\=\\\"DE\\\" DayPhone\=\\\"+493028099508\\\"\\n        EMailID\=\\\"qe101683543713015@d.com\\\" EveningPhone\=\\\"\\\"\\n        FirstName\=\\\"Donald\\\" LastName\=\\\"Duck\\\" MiddleName\=\\\"\\\" MobilePhone\=\\\"\\\"\\n        State\=\\\"\\\" ZipCode\=\\\"10117\\\"/\>\\n    \<PersonInfoBillTo AddressLine1\=\\\"Pariser Platz 4A\\\" AddressLine2\=\\\"\\\"\\n        AddressLine3\=\\\"\\\" AddressLine4\=\\\"\\\" AddressLine5\=\\\"\\\" AddressLine6\=\\\"\\\"\\n        City\=\\\"Berlin\\\" Company\=\\\"\\\" Country\=\\\"DE\\\" DayFaxNo\=\\\"\\\"\\n        DayPhone\=\\\"+493028099508\\\" EMailID\=\\\"qe101683543713015@d.com\\\"\\n        EveningPhone\=\\\"\\\" FirstName\=\\\"Donald\\\" LastName\=\\\"Duck\\\" MiddleName\=\\\"\\\"\\n        MobilePhone\=\\\"\\\" State\=\\\"\\\" ZipCode\=\\\"10117\\\"/\>\\n    \<PaymentMethods\>\\n        \<PaymentMethod CreditCardExpDate\=\\\"\\\" CreditCardName\=\\\"\\\"\\n            CreditCardType\=\\\"\\\" MaxChargeLimit\=\\\"16.27\\\"\\n            PaymentReference1\=\\\"DECEVATS0999\\\" PaymentReference2\=\\\"Visa\\\"\\n            PaymentReference3\=\\\"\\\" PaymentType\=\\\"Prepaid\\\"\\n            RequestedAuthAmount\=\\\"0.00\\\" RequestedChargeAmount\=\\\"0.00\\\"\\n            RequestedRefundAmount\=\\\"0.00\\\" TotalAuthorized\=\\\"0.00\\\"\\n            TotalCharged\=\\\"16.27\\\" TotalRefundedAmount\=\\\"0.00\\\"/\>\\n    \</PaymentMethods\>\\n    \<HeaderCharges\>\\n        \<HeaderCharge ChargeAmount\=\\\"0.00\\\"\\n            ChargeCategory\=\\\"GLOBALE_HEADER\\\"\\n            ChargeName\=\\\"DUTIES_TAXES_FEES\\\"\\n            ChargeNameKey\=\\\"2022031609504118157069\\\"\\n            InvoicedChargeAmount\=\\\"0.00\\\" IsBillable\=\\\"Y\\\" IsDiscount\=\\\"N\\\"\\n            Reference\=\\\"\\\" RemainingChargeAmount\=\\\"0.00\\\"\>\\n            \<Extn LocalChargeAmount\=\\\"0.00\\\"/\>\\n        \</HeaderCharge\>\\n        \<HeaderCharge ChargeAmount\=\\\"3.28\\\" ChargeCategory\=\\\"SHIPPING_EMEA\\\"\\n            ChargeName\=\\\"SHIPPING_CHARGE\\\"\\n            ChargeNameKey\=\\\"202012161040029495948\\\"\\n            InvoicedChargeAmount\=\\\"0.00\\\" IsBillable\=\\\"Y\\\" IsDiscount\=\\\"N\\\"\\n            Reference\=\\\"STANDARD_EMEA\\\" RemainingChargeAmount\=\\\"3.28\\\"\>\\n            \<Extn LocalChargeAmount\=\\\"3.90\\\"/\>\\n        \</HeaderCharge\>\\n    \</HeaderCharges\>\\n    \<HeaderTaxes/\>\\n\</Order\>\",\"target\":\"REBOUND\"}", */

.showMoreBtn {
    color: blue;
    cursor: pointer;
}

.showMoreBtn:hover {
    text-decoration: underline;
    color: var(--purple-700);
}