.keyValueContainer {
    width: 100%;
    height: fit-content;
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    border-radius: 5px;
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.keyValueContainer p {
    margin-top: 1rem;
}

.close {
    font-size: 1.5rem;
    color: var(--gray-600);
    position: absolute;
    top: 35px;
    right: 40px;
    cursor: pointer;
}

.close:hover {
    color: var(--purple-700);
}