.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .overlay {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(2px);
  }
  
  .content {
    width: 500px;
    height: 500px;
    background-color: white;
    z-index: 2;
    padding: 32px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
  }

  .closeBtn {
    outline: none;
    border: none;
    background-color: var(--red-600);
    color: var(--neutral-50);
    padding: 0.25rem  1rem;
    margin: 0 auto;
    border-radius: 5px;
  }
  