.sidebar {
    position: fixed;
    min-height: 100vh;
    /* height: calc(100vh - 80px) ; */
    width: 250px;
    background-color: var(--gray-100);
    border-right: 2px solid var(--slate-800);
    color: var(--gray-700);
  }
  
  .sidebar ul {
    /* border: 2px solid red; */
    padding-top: 1.5rem;
    /* margin-top: 1rem; */
  }
  
  .sidebar ul li{
    display: flex;
    padding: 0.5rem 1.5rem;
    /* border: 1px solid coral; */
    margin: 0.5rem 0.75rem;
  }
  
  .sidebar .icons {
    font-size: 1.2rem;
    padding-right: 1rem;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    /* color: var(--gray-700); */
  }
  
  /* Hover States */
  .sidebar ul li:hover{
    cursor: pointer;
    background-color: var(--purple-200);
    border-radius: 5px;
  }
  

  .selected {
    background-color: var(--purple-700);
    border-radius: 5px;
    color: var(--neutral-50);
  }

  .selected-text {
    color: var(--neutral-50);
  }