.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 400px;
    height: 150px;
}

.error-message {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.error-message span {
    font-weight: bold;
    color: green;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #6b7280;
    color: white;
    border: none;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-button:hover {
    background-color: #9ca3af;
}