.modal {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.overlay {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* z-index: 1; */
  backdrop-filter: blur(15px);
}

.content-box {
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
  margin: 0.5rem 0;
  padding: 1rem;
  min-height: fit-content;
  max-height: 350px;
  border-radius: 5px;
  border: 1.5px solid var(--gray-200);
}

.content {
  width: 40%;
  min-width: 368px;
  height: fit-content;
  max-height: 375px;
  background-color: white;
  z-index: 2;
  padding: 32px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.buttons__wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.button {
  outline: none;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.button__icon {
  font-size: 1.15rem;
}

.button__copy {
  background-color: var(--green-600);
  color: var(--neutral-50);
}

.loading__wrapper {
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading__text {
  color: var(--purple-300);
  font-size: 1.5rem;
}
