.sidebar {
  position: fixed;
  top: 80px;
  min-height: 100vh;
  width: 200px;
  background-color: var(--gray-100);
  border-right: 1px solid var(--gray-300);
  z-index: 1;
}

.sidebar ul {
  padding-top: 1.5rem;
}

.sidebar ul a {
  display: flex;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: var(--gray-700);
}

.sidebar .icons {
  font-size: 1.2rem;
  padding-right: 1rem;
}

/* Hover States */
.sidebar ul a:hover {
  cursor: pointer;
  background-color: var(--purple-200);
}

.selected {
  background-color: var(--purple-700);
  color: var(--neutral-50);
  text-decoration: none;
  font-weight: 500;
  pointer-events: none;
}
