@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Manrope:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --violet-600: #7c3aed;
  --green-600: #65a30d;
  --red-400: #f87171;
  --red-600: #dc2626;
}



body {
  font-family: 'Lato', sans-serif;
  min-height: 100vh; 
  background-color: var(--neutral-50);
  color: var(--gray-900);
  overflow-x: hidden;
  display: flex;
}

nav {
  width: 100vw;
  height: 80px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background-color: var(--neutral-50);
  display: grid;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
}

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.mainContainer {
  min-height: calc(100vh - 80px);
  width: calc(100vw - 250px);
  position: absolute;
  top: 80px;
  left: 200px;
}

.innerContainer {
  margin: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.pageTitle {
  font-size: 2rem;
}

.pageSubHeadings {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


