@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

:root {
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --violet-600: #7c3aed;
  --green-600: #65a30d;
  --red-400: #f87171;
  --red-600: #dc2626;
}

body {
  min-height: 100vh;
  background-color: var(--neutral-50);
  color: var(--gray-900);
  display: flex;
}

nav {
  width: 100vw;
  height: 80px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  background-color: var(--neutral-50);
  display: grid;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding: 0 2rem;
  z-index: 1;
}

.nav--wrapper {
  width: calc(50% + 7.411rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.accenture--logo {
  min-width: 100px;
  max-width: 5%;
}

.contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.mainContainer {
  min-height: calc(100vh - 80px);
  width: calc(100vw - 250px);
  position: absolute;
  top: 80px;
  left: 200px;
}

.innerContainer {
  margin: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
}

.pageTitle {
  font-size: 1.75rem;
}

.pageSubHeadings {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
