name:
    Triage System CI
on:
    push:
        branches:
        - '**'
    pull_request:
        branches:
        - '**'
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
           - name: Checkout repository
             uses: actions/checkout@v4

           - name: Set up Node.js
             uses: actions/setup-node@v2
             with:
                node-version: '18'
                cache: 'npm'

           - name: Install dependencies
             run: npm ci

           - name: Run tests
             run: npm test -- --watchAll=false

           - name: Run build
             run: npm run build
             
           - name: Build Docker image
             run: docker build -t triage-system-frontend .